.cards{
    min-width: 80%;
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto ;
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
.card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    min-height: 40vh;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 1rem;
    font-family: sans-serif;
    gap: 20px;
    font-weight: bold;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: rgb(254, 157, 39);
  }
  .categoryItem{
    
    height: 170px;
    width: auto;
  }
  @media  (max-width: 736px) {
    .cards{
        grid-template-columns: auto;
        
    }
    .card{
        width: 55vw;
    }
  }